/* @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body,
p {
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

button {
  margin-bottom: 10px;
}

label {
  text-align: left;
  font-size: 1.25em;
  color: #777776;
  display: block;
}

header {
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-column,
.center-column,
.right-column {
  width: 30%;
  min-width: 16em;
  margin: 0 1.5em;
  text-align: center;
}

#client-name {
  text-align: left;
  margin-bottom: 1em;
  font-family: "Helvetica Light", Helvetica, sans-serif;
  font-size: 1.25em;
  color: #777776;
}

select {
  width: 300px;
  height: 60px;
  margin-bottom: 10px;
}

input {
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 1em;
  width: 100%;
  height: 2.5em;
  padding: 0;
  display: block;
  margin: 10px 0;
}

div#volume-indicators {
  padding: 10px;
  margin-top: 20px;
  text-align: left;
}

div#volume-indicators > div {
  display: block;
  height: 20px;
  width: 0;
}

.right-column {
  padding: 0 1.5em;
}

#log {
  text-align: left;
  border: 1px solid #686865;
  padding: 10px;
  height: 9.5em;
  overflow-y: scroll;
}

.log-entry {
  color: #686865;
  font-family: "Share Tech Mono", "Courier New", Courier, fixed-width;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-left: 1em;
  text-indent: -1.25em;
  width: 90%;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

button:disabled {
  cursor: not-allowed;
}
    #phone-number {
      width: 350px;
      padding: 10px;
      margin: 10px 0;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    #phone-number:focus {
      border-color: #4CAF50;
      outline: none;
    }

    #button-call,#startup-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }

    #button-call:hover,#startup-button:hover {
      background-color: #45a049;
    }
    #button-hangup-outgoing {
      padding: 10px 20px;
      background-color: #d12940;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      width:100%
    }

    .keypad {
      overflow: auto;
      padding: 10px 30px 10px 30px;
    }

    .keypad .digit {
      float: left;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 1.6em;
      margin-left: 5px;
      margin-bottom: 5px;
      font-weight: bold;
      cursor: pointer;
      color: #787878;
      border-radius: 3px;
  }
  
  .digit:nth-child(3n +1) {
      margin-left: 40px
  }
  
  .digit:nth-child(1n + 10) {
      margin-bottom: 0
  }
  
  .digit:hover {
      background-color: #787878;
      color: white;
  }

   .call-control {
    text-align: center;
    padding-bottom: 10px;
}

 .call-control button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    outline: inherit;
    background-position: center center;
    background-repeat: no-repeat;
} */

h3,h4,h5 {
  font-style:italic
}

.loader {
  text-align: center;
  padding: 20px;
}